{% extends 'base.html' %}


{% block content %}
    {% load static %}
    {% if user.is_authenticated %}

 <div class="header">
            <a class="user" href="#">{{user.username}}</a>
            <a class="logout" href="{% url 'logout' %}">Выйти</a>

            <div class="maindiv">


 <div class="parent">

             <div class="create-training" >
                 <div class="text">
                     Создать тренинг
                 </div>
                 <img class="pencil" src="{% static '/images/fi-br-pencil.svg'%}"  alt="" width="100px" height="100px">
             </div>

            <a href="mytrainings/">
            <div class="my-trainings">
                 <div class="text">
                         Мои тренинги
                     </div>
                <img class="folder" src="{% static '/images/folder.svg'%}"  alt="" width="100px" height="100px">
            </div>
             </a>
    </div>

                        <!-- Модальное окно -->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>


                <form id='myForm'  method="POST" action="create/" enctype="multipart/form-data">
                    {% csrf_token %}
                <div class="form">
                    <p class="form-title">Создание тренинга</p>
                     <input type="text" class="training-title"  placeholder="Название тренинга" name="title">
                     <input type="text" class="training-description" placeholder="Описание тренинга" name="describe">

                    <div class="form-check-label">Загрузите логотип вашего тренинга</div>

                    <input type="file" name="logo"/>
                    <figure>
                      <img id="image" />
                    </figure>


                    <button  type="submit" class="btn btn-primary">Создать</button>
                    </form>
                </div>
            </div>
            </div>
        </div>
        <script src="{% static './JS/main.js'%}"></script>




    {% else %}
        <div class="header">
              <a class="login" href="{% url 'login' %}">Вход |</a>
            <a class="reg" href="{% url 'register' %}">Регистрация</a>
            <div class="maindiv">
            <img class="photo" src="{% static '/images/fi-rr-apps.svg'%}"  alt="" width="300px" height="300px">
                <div class="title">
                <div class="text-title"> Конструктор</div>
                <div class="text-title"> Тренингов</div>
                </div>
    </div>
        </div>





    {% endif %}
{% endblock %}