{% extends 'base.html' %}

{% block content %}

{% load static %}

{% if user.is_authenticated %}
<div class="header">

    <a class="user" href="#">{{user.username}}</a>
    <a class="logout" href="{% url 'logout' %}">Выйти</a>
    <form action="/" class="button_back">
        <button type="submit">Вернуться назад</button>
    </form>
    <div class="mycards">Мои тренинги</div>

    <div class="card-container">

        {% csrf_token %}
        {% if trainings %}
        {% for training in trainings %}
        <div class="card" style="width: 18rem;">
            {% if training.logo %}
            <img src="{% static training.logo %}" class="card-img-top" alt="...">
            {% else %}
            <div class="card-img-top"></div>
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{training.title}}</h5>
                <p class="card-text">📃 Описание: <br> <br /> {{training.describe}}</p>
                <div class="funcbuttons">
                        <a href="/workspace/{{ training.id }}/" class="btn">Перейти в конструктор</a>
                        <a href="/traningedit/{{ training.id }}/" class="btn">Редактор</a>
                        <a href="" class="btn_del" data-id="{{ training.id }}">Удалить</a>
                </div>

                <div class="datetime">{{ training.date_time|date:"Y-m-d H:i" }}</div>


            </div>
        </div>
        {% endfor %}

        {% else %}
        <p class="no-trainings">Вы еще не создали ни одного тренинга!</p>

        {% endif %}
        <script>
            var csrfToken = '{{ csrf_token }}';
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static './JS/delete.js'%}"></script>
    </div>
</div>
{% endif %}
{% endblock %}