{% extends 'base.html' %}

{% block content %}
    {% load static %}
    {% if user.is_authenticated %}
<div class="header">
        <a class="user" href="#">{{user.username}}</a>
        <a class="logout" href="{% url 'logout' %}">Выйти</a>
    <div class="name_traning">
        <form action="/mytrainings/" class="button_home">
        <button type="submit">Вернуться назад</button>
         </form>
        <h1 class="constructortitle">Название тренинга:  {{training.title}}</h1>

    </div>

    <div class="tools">
    <div class="right_buttom">
        <img class="pict_bttom" src="{% static '/images/SVGRepo_iconCarrier.svg'%}" alt="" width="80px" height="70px">
        <!-- New Object to Show on Click -->
        <div class="new_object" style="display: none;">New Object</div>
    </div>
    

    <div class="left_buttom">
        <img class="pict_bttom" src="{% static '/images/left.svg'%}"  alt="" width="80px" height="70px">
    </div>

    <div class="double_buttom">
        <img class="pict_bttom" src="{% static '/images/double.svg'%}"  alt="" width="80px" height="70px">
    </div>

    <div class="finger_buttom">
        <img class="pict_bttom" src="{% static '/images/finger.svg'%}"  alt="" width="80px" height="70px">
    </div>

    <div class="keyboard_buttom">
        <img class="pict_bttom" src="{% static '/images/keyboard.svg'%}"  alt="" width="80px" height="70px">
    </div>

    <div class="text_buttom">
        <img class="pict_bttom" src="{% static '/images/text.svg'%}"  alt="" width="80px" height="70px">
    </div>

    </div>

    <div class="workspace_screen">
    </div>



{% endif %}

{% endblock %}
