
* {
	margin: 0;
	padding: 0;
}

a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
   }

body{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   background: ;

    background-size: cover;
}


.login-form{
    display:flex;
}

.registration-heading {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.registration-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.registration-form form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="deadline"] {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
}

button[type="deadline"]:hover {
    background-color: #218838;
}

.text-danger {
    color: #dc3545;
}


.contain{
display:flex;
}


.parent{
  display:flex;
  margin-inline: auto;
  margin-block-start: 50vh;
  transform: translateY(-50%);
}

.create-training{
    width: 450px;
    height: 450px;
     overflow: hidden;
     background-color: rgb(0 0 0 / 77%) ;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
  text-align: center;
  border-radius: 25px;
    margin: 0 70px; /* Отступы между квадратами */
    transition: all 0.3s ease-in-out;

}
.create-training:hover{
    transform: scale(1.1);
}



.my-trainings{
    width: 450px;
    height: 450px;
     overflow: hidden;
    background-color: rgb(0 0 0 / 77%) ;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
  text-align: center;
  border-radius: 25px;
    margin: 0 70px; /* Отступы между квадратами */
    transition: all 0.3s ease-in-out;

}

.my-trainings:hover{
    transform: scale(1.1);
}

.text{
    padding-top:150px;
    font-family: Tahoma;
    font-size: 41px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #ffffff;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    margin-bottom:30px;


}


.header{
    width:100%;
    height:50px;
    border-bottom-right-radius :15px;
    border-bottom-left-radius :15px;
    background-color: #3f2c88;
    text-align: right;
    padding: 5px 30px 0px 30px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
    display:block;
}

.login{
    color:white;
    font-family: Tahoma;
    font-size: 25px;

}

.reg{
    color:white;
    font-family: Tahoma;
    font-size: 25px;

}


.maindiv{
  display:flex;
  margin: auto;
  margin-block-start: 50vh;
  transform: translateY(-50%);
  align-items:center;
  justify-content:center;

}


.photo{
     transform: rotate(0deg);
    /* Добавляем анимацию для плавного поворота */
    animation: rotateAnimation 1s ease-in-out ;

}


@keyframes rotateAnimation {
    /* Устанавливаем стили для анимации */
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.title{
text-align:center;
    position: relative;
    margin-left:40px;
    right: -100%;
    animation: slideInRight 1s forwards;
}

@keyframes slideInRight {
    from {
        right: -100%;
    }
    to {
        right: 0;
    }
}


.text-title{
      font-family: Arial;
    font-size: 60px;
    letter-spacing: 0px;
    word-spacing: 0px;
     font-weight: 600;
    text-decoration: none;


}

.password_reset{
 color:rgba(0, 0, 0, 0.5);
     font-family: Arial;
    font-size: 15px;
}

.btn-success{
     align-items:center;

}


.form-control{

  margin-inline: auto;
  margin-block-start: 50vh;
  transform: translateY(-50%);
    align-items:center;
    text-align:center;

    background: rgba(0, 0, 0, 0);
    border: 0px;
    color:rgba(0, 0, 0, 0.5);
     font-family: Arial;
    font-size: 18px;
    letter-spacing: 0px;
    word-spacing: 0px;
     font-weight: 600;
    text-decoration: none;

}


.logout{

        color:white;
    font-family: Arial;
    font-size: 22px;
    cursor:pointer;
}

.user{

       color:white;
    font-family: Arial;
    font-size: 22px;
    cursor:pointer;
    margin-right:20px;
    padding-top:15px;
    text-decoration:none;

}

.click{
    position:absolute;
    width:100%;
    height:100%;
}

/* Стили для модального окна */
.modal {
    overflow: hidden;
    display: none;
    position: fixed; /* Используйте fixed вместо absolute */
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}



.modal-content {
    position: absolute;
    background-color: #fefefe;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 600px;

        border-radius: 25px;
    }

.form-check-label{
    margin-top:50px;
}

.input__wrapper {
  width: 100%;
  position: relative;
  margin: 15px 0;
  text-align: center;
}

.input__file {
  opacity: 0;

  position: absolute;
}

.input__file-icon-wrapper {
  height: 50px;
  width: 60px;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid #fff;
}

.input__file-button-text {
  line-height: 1;
  margin-top: 1px;
  text-align: center;
}

.input__file-button {
  width: 250px;
  max-width: 250px;
  height: 50px;
  background: #3f2c88;;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 auto;
}



.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.form{
    display: flex;
    flex-direction: column;
    width:100%;

    text-align:center;
    align-items:center;
}

.form-title{
    font-family: Arial;
    font-size: 25px;
    font-weight: 700;

}


.training-title{
    height:40px;
    width:250px;
    text-align:center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border:1px solid black;
    margin: 10px;
}

.training-description{
    height:70px;
    width:250px;
    text-align:center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border:1px solid black;
    margin: 10px;
}

.form-switch{
        margin-bottom:20px;

}


.card-container{

display: flex;
 flex-wrap: wrap;
 justify-content: space-around;

}


.no-trainings{
    font-family: Arial;
    font-size: 41px;
    letter-spacing: 0px;
    word-spacing: 0px;
    position:absolute;
    width:100%;
    top:50%;
    text-align:center;
    font-weight: 700;
    text-decoration: none;
}

.card{
    margin:60px 10px 20px 10px;
    border-radius:30px;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    vertical-align: middle;
    box-shadow: -3px 0px 26px -2px rgba(0,0,0,0.35);


}


.card:hover{
    transform: scale(1.1);
}

.card-title{
    text-align:center;
    font-size: 20px;
    margin-bottom:30px;

}


.card-text{
    text-align:left;
}

.card-img-top{
height:150px;
overflow: hidden;
width:100%;
border-rop-right-radius:20px;
border-rop-left-radius:20px;
}

.btn{
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;     /*Центрирование по вертикали */
    background-color: #3f2c88;
    color:white;
    margin-bottom:8px;
    text-decoration:none;

}

.btn_del{
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;     /*Центрирование по вертикали */
    background-color: #adadad;;
    color:white;
    text-decoration:none;

}


.button_home button {
    background-color: #3f2c88; /* Цвет фона */
    color: white; /* Цвет текста */
    padding: 10px 20px; /* Отступы внутри кнопки */
    border: none; /* Убрать границу */
    border-radius: 5px; /* Закруглить углы */
    cursor: pointer; /* Изменить курсор при наведении */
    position: fixed; /* Фиксированное позиционирование */
    bottom: 35%; /* Отступ от нижнего края страницы */
    left: 50%; /* Размещение по центру горизонтали */
    transform: translateX(-50%); /* Центрирование по горизонтали */


}

.button_home button:hover {
    background-color: #2f2066; /* Изменение цвета фона при наведении */
}

.card-img-top{
height:150px;
overflow: hidden;
width:100%;
border-rop-right-radius:20px;
border-rop-left-radius:20px;
}


.form-group{
    font-family: Arial;
    font-size: 20px;
}

.button_back {
    position: absolute;
    top: 10px;
    left: 10px;
}


.edit{

    width: 250px;
    height: 250px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

}

.name_traning{

    position: fixed;
    top: 20px;
    left: 129px;
}

.right_buttom {
    width: 130px;
    height: 120px;
    border-radius: 50px;
    background-color: #D9D9D9;
    position: fixed;
    top: 145px;
    left: 129px;
    transition: background-color 0.8s;
    position: absolute;
    cursor: move;
}

.right_buttom:hover {
    background-color: #A9A9A9;
}

.pict_bttom{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: move;
}

.left_buttom{
    width: 130px;
    height: 120px;
    border-radius: 50px;
    background-color: #D9D9D9;
    position: fixed;
    top: 279px;
    left: 129px;
    transition: background-color 0.8s;
    cursor: move;
}

.left_buttom:hover {
    background-color: #A9A9A9;
}

.double_buttom{
    width: 130px;
    height: 120px;
    border-radius: 50px;
    background-color: #D9D9D9;
    position: fixed;
    top: 412px;
    left: 129px;
    transition: background-color 0.8s;
    cursor: move;
}

.double_buttom:hover {
    background-color: #A9A9A9;
}

.finger_buttom{
    width: 130px;
    height: 120px;
    border-radius: 50px;
    background-color: #D9D9D9;
    position: fixed;
    top: 546px;
    left: 129px;
    transition: background-color 0.8s;
    cursor: move;
}

.finger_buttom:hover {
    background-color: #A9A9A9;
}

.keyboard_buttom{
    width: 130px;
    height: 120px;
    border-radius: 50px;
    background-color: #D9D9D9;
    position: fixed;
    top: 679px;
    left: 129px;
    transition: background-color 0.8s;
    cursor: move;
}

.keyboard_buttom:hover {
    background-color: #A9A9A9;
}

.text_buttom{
    width: 130px;
    height: 120px;
    border-radius: 50px;
    background-color: #D9D9D9;
    position: fixed;
    top: 813px;
    left: 129px;
    transition: background-color 0.8s;
    cursor: move;
}

.text_buttom:hover {
    background-color: #A9A9A9;
}

.workspace_screen {
    position: fixed;
    right: 70px;
    top: 234px;
    left: 420px;
    bottom: 100px;
    width: 950px;
    height: 690px;
    border: 5px solid #000000; /* Устанавливаем рамку шириной 2px и цветом #D9D9D9 */
    background-color: transparent; /* Делаем фон прозрачным */
}

.new_object {
    width: 100px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    background-color: #f0f0f0; /* Adjust color as needed */
    position: absolute;
    top: 130px; /* Adjust position as needed */
    left: 260px; /* Adjust position as needed */
    border-radius: 10px; /* Optional, for rounded corners */
}